@import "../../../style/mixins/variables";

.picture-input {
  height: 100%;

  .picture-flex {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .picture {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      border: solid 1px $bright-navy-blue;
      margin: 10px;
      cursor: pointer;
      overflow: hidden;
      box-sizing: border-box;
      transition: all 0.2s $bounce-bezier;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .picture.selected {
      border: solid 5px $triple-j-red;
    }


    .picture:hover {
      transform: scale(0.9);
    }
  }

  .save-button {
    cursor: pointer;
    display: block;
    height: 40px;
    width: 100px;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border: none;
    background-color: $bright-navy-blue;
    color: white;
  }
}
