// Colors
$bright-navy-blue: rgba(45, 125, 210, 1);
$sheen-green: rgba(151, 204, 4, 1);
$triple-j-red: rgba(230, 50, 40, 1);
$selective-yellow: rgba(238, 185, 2, 1);
$outer-space: rgba(71, 70, 71, 1);

// Transitions
$bounce-bezier: cubic-bezier(0.175, 0.885, 0.32, 1.275);
