.header {
  .header-content {
    height: 50px;
    overflow: hidden;
    padding: 5px;
    box-sizing: border-box;

    button {
      padding: 2px;
      height: 40px;
      background-color: transparent;
      outline: none;
      border: none;

      img {
        height: 30px;
        cursor: pointer;
      }
    }
  }
}
