.login {
  .login-box {
    width: 300px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    h2 {
      text-align: center;
    }

    #form-contents {
      width: 90%;
      margin-left: auto;
      margin-right: auto;

      label {
      }

      label, input {
        font-size: 20px;
        display: block;
        width: 100%;
      }

      input {
        margin-bottom: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-bottom: slategray 1px solid;
      }

      .form-buttons {
        width: 90%;
        position: absolute;
        bottom: 30px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;

        button {
          cursor: pointer;
          font-size: 20px;
          height: 30px;
        }
      }
    }
  }
}
