.leaderboard {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  background-color: white;

  .header {
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 20px 10px 10px 20px;
    position: sticky;
    top: 0;
    background-color: white;
    margin: 0;

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: 50px;
    }
  }

  .leaderboard-list {
    padding: 0 0 10px 20px;

    ol {
      font-size: 20px;

      li {
        margin-bottom: 5px;
        font-weight: bold;

        span {
          font-weight: normal;
        }
      }
    }
  }
}
